Encryption/.vs/Encryption/FileContentIndex/003c83af-4d6d-4909-8fb5-979ddb708ec9.vsidx
Encryption/.vs/Encryption/FileContentIndex/6dc9c7de-10e1-4ce9-88b1-4923cb2d3de6.vsidx
Encryption/.vs/Encryption/FileContentIndex/62b4718e-a7c3-4233-bb85-edc403bbda9d.vsidx
